/*--------------------------------------------------------------------
* $BASE
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background: #6DC4FF
  color: black

hr
  margin: 10px auto 40px
  height: 1px
  background: $purple
  border: none
  width: 65%

img
  max-width: 100%

.emoji
	width: 35px
	position: relative
	top: 2px
	
	&.large
		width: 54px
		top: 4px

		@media only screen and (max-width: 800px)
		  width: 36px;
	
	&.med
		width: 36px
		top: 2px

		@media only screen and (max-width: 800px)
		  width: 24px;
		
	&.small
		width: 20px
		
	&.xsmall
		width: 15px
	
