/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/

// button
//   display: inline-block;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   font-size: 14px;
//   padding: .375rem .75rem;
//   border-radius: .25rem;
//   border: 1px solid black;
//   margin-right: 10px;
//   background-color: transparent;
  
//   a
//     border-bottom: none !important;
  
.rainbow {
  display: inline-block;
  color: $gray;
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F20303, #FFE81D, #3CE389, #6DC4FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  
  &:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #6DC4FF, #3CE389, #FFE81D, #F20303);
  }
  opacity: .8;
}