/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/

button
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 14px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid black;
  margin-right: 10px;
  background-color: transparent;
  
  a
    border-bottom: none !important;
    
.button-blue
  border: 2px solid $blue;
  background-color: $white;
  
  a
    color: $blue;
