/*--------------------------------------------------------------------
* $CONTENT
--------------------------------------------------------------------*/

body
  // border-top: 4px solid $blue
  -webkit-font-smoothing: antialiased;

.content
  max-width: 860px
  margin: 0 auto 10px
  padding: 0 10px
  
  &.wide
    max-width: 1400px
    margin: 0 auto 10px
    padding: 0 10px

  section
    margin: 10px 0

.title
  padding: 20px 0;


.fun-container

  img
    width: 100%;