/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

footer
    
  .content
    margin-bottom: 0;
  
    padding: 50px 0;

    p, a
      font-size: 16px;

    .flex-grid
      display: flex;
    
    .col
      flex: 1;
      
    .social
      text-align: right;

      a
        color: $yellow;
        font-size: 30px;
        &:not(:last-child) {
          margin-right: 5px;
        }

        &:hover
          opacity: .8;
        
    .middle
      
      a
        background: linear-gradient(to top, #FFE81D 10%,transparent 10%)
        color: $gray
        &:hover
          opacity: .8
      
    ul
      margin-bottom: 0;
      
      li
        display: inline;
        border-right: 1px solid $gray;
        padding: 0 12px;
        
        &:last-child
          border-right: 0;
          padding-right: 0;
        
        a
          font-size: 18px;
          border-bottom: none;
  