/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

footer
    
  .content
    margin-bottom: 0;
  
    padding: 50px 0;

    p
      font-size: 18px;
      
    ul
      margin-bottom: 0;
      
      li
        display: inline;
        border-right: 1px solid $gray;
        padding: 0 12px;
        
        &:last-child
          border-right: 0;
          padding-right: 0;
        
        a
          font-size: 18px;
          border-bottom: none;
  