/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/
header
  padding-top: 5px;
  margin-bottom: 0;

  h2.title
    
    a
      background: none
    
    font-size: 40px
    margin-bottom: 0
    text-align: left
    float: left
    letter-spacing: 1px
    font-weight: $black

  ul.main-nav
    font-family: $font-family-baloo
    padding-top: 30px
    text-align: right
    float: right
    font-size: 20px
    font-weight: $bold
    

    li
      display: inline;
      
    li:not(:last-child)
      margin-right: 10px;
      
    a
      background: $blue
      color: $white
      position: relative
      transition: 0.2s ease all
      border-radius: 1rem
      padding: .25rem .5rem
      &:hover
        opacity: .8
        top: 1px


@media only screen and (max-width: 630px)
  header
    padding-top: 0;
    
  header h2.title
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    
  header ul.main-nav
    padding-top: 0;
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 20px;
  