/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/
header
  padding-top: 5px;
  margin-bottom: 0;

  h2.title
    
    a
      background: none
    
    font-size: 30px;
    margin-bottom: 0;
    text-align: left;
    float: left;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: $medium

  ul.main-nav
    font-family: $font-family-roboto
    padding-top: 30px
    text-align: right
    float: right
    font-size: 20px
    font-weight: $medium

    li
      display: inline;
      
    li:not(:last-child)
      margin-right: 25px;
      
    a
      background: linear-gradient(to top, #FFE81D 25%,transparent 25%)
      color: $gray
      position: relative
      transition: 0.2s ease all
      &:hover
        opacity: .8
        top: 1px


@media only screen and (max-width: 630px)
  header
    padding-top: 0;
    
  header h2.title
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    
  header ul.main-nav
    padding-top: 0;
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 20px;
  