/*--------------------------------------------------------------------
* $TYPE
--------------------------------------------------------------------*/

body
  font-family: $font-family-open-sans
  font-size: 18px
  line-height: 1.4
  color: $gray

h1, h2, h3, h4, h5, h6
  font-family: $font-family-baloo
  margin: 0 0 1em
  font-weight: $semibold
  
p
  margin: 0 0 1em

h1
  font-size: 44px
  padding-top: 0

  a
    color: $gray
    
h1.title
  font-size: 44px
  padding-top: 0

h2
  font-size: 26px
  margin-bottom: .25em

h3
  font-size: 24px

a
  text-decoration: none
  

em
  font-style: italic

strong
  font-weight: $bold

small
  font-size: 12px
  color: $gray

.content p, h2
  a
    background: linear-gradient(to top, #FFE81D 10%,transparent 10%)
    color: $gray
    transition: 0.2s ease all
    &:hover
      opacity: .8
  
