/*--------------------------------------------------------------------
* $TYPE
--------------------------------------------------------------------*/

body
  font-family: $font-family-roboto
  font-size: 18px
  line-height: 1.4
  color: $gray

h1, h2, h3, h4
  font-family: $font-family-roboto
  margin: 0 0 1em
  
h1
  text-align: center;
  
p
  margin: 0 0 1em

h1
  font-size: 28px

  a
    color: $gray
    
h1.title
  font-size: 40px

h2
  font-size: 24px
  margin-bottom: .25em

h3
  font-size: 24px

a
  text-decoration: none
  

em
  font-style: italic

strong
  font-weight: $font-weight-bold

small
  font-size: 14px
  color: $grey-med

.content p, h2
  a
    background: linear-gradient(to top, #FFE81D 10%,transparent 10%)
    color: $gray
    &:hover
      opacity: .8
  
