extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer living in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn about'

block title
  | About - 

block content

  .gradient

  .content

    include includes/header

    section.clear

      .grid

        .col-sm
          .img-wrap
            img.bio(src='/assets/images/kate-2022.jpg' alt="Kate Farrar")

        .col-md
          .bio-wrap
            h1 Hi, I'm Kate.

            p I'm a design leader with over 15 years of industry experience. I provide users with meaningful product experiences by advocating for their needs through research, testing, and iteration. I am extremely passionate about collaboration and leading teams that are partners with Engineering and Product. My favorite days are when I'm learning and working alongside my teammates.

            p I currently reside in beautiful Colorado with my wife and our dogs, Norah and Rosie, and our cat, Henry.

            h3 Let's Connect 
            p Send me some <a href="mailto:kate.farrar@gmail.com" class="link">electronic mail</a> or connect with me on <a href="https://www.linkedin.com/in/katefarrar/" target="_blank" class="link">LinkedIn</a>. Also known to frequent <a href="https://twitter.com/katefarrar" target="_blank" class="link">Twitter</a>, <a href="https://instagram.com/katefarrar" target="_blank" class="link">Instagram</a>, <a href="https://dribbble.com/katefarrar" target="_blank" class="link">Dribbble</a>, & <a href="https://github.com/katefarrar" target="_blank" class="link">GitHub</a>.

    include includes/footer
    