extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn about'

block title
  | About - 

block content

  .gradient

  include includes/header

  .content

    section.clear

      .img-wrap
        img.bio(src='/assets/images/kfarrar-bio.png' alt="Kate Farrar")

      .text-wrap

        h3 Hi <img src="/assets/images/emoji-wave.png" width="25px" style="position:relative; top: 2px"> I'm Kate!

        p I specialize in product design, user experience and user interface design,  and front-end development. I am extremely passionate about people and as a designer I love that I am able to be an advocate for users. I whole heartedly believe that design can and should be used as a force for good.

        p I currently reside in beautiful Boulder County, Colorado with my partner, Abby, our dogs, Norah and Rosie, and our cat, Henry.

        h3 Want to talk? 
        p Send me some <a href="mailto:kate.farrar@gmail.com">electronic mail</a> or follow me on <a href="https://twitter.com/katefarrar" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/in/katefarrar/" target="_blank">LinkedIn</a>, <a href="https://dribbble.com/katefarrar" target="_blank">Dribbble</a>, & <a href="https://github.com/katefarrar" target="_blank">GitHub</a>.

      

    include includes/footer
    