extends layout

block vars
  - var pageDescription = 'Maddie Campbell is a free spirit, tree huggin NOVA resident.'
  - var bodyClass = 'animate__animated animate__fadeIn about'

block title
  | About - 

block content

  .gradient

  .content

    include includes/header

    section.clear

      .grid

        .col-sm
          .img-wrap
            img.bio(src='/assets/images/gallery-bg 3.jpg' alt="Maddie")

        .col-md
          .bio-wrap
            h1 Hi, I'm Maddie.

            p I live in Northern Virginia with my parents, Jessy and Wes, and my baby sister you see in the pic with me.  Im lucky enough to attend a great tree huggin school with lots of my tree huggin friends.  We learn about animals and hugging trees.  

            p I hope to follow my parents footsteps one day and attend JMU.  Maybe I will let my baby sister follow my footsteps.  Hopefully the stork will bring me a brother soon.

            h3 Let's Connect 
            p Send me some <a href="mailto:uvacoder@proton.me" class="link">electronic mail</a> or connect with me on <a href="https://www.linkedin.com/in/alecbcampbell/" target="_blank" class="link">LinkedIn</a>. Also known to frequent <a href="https://twitter.com/VaLandscapes" target="_blank" class="link">Twitter</a>, <a href="https://codepen.io/uvacoder" target="_blank" class="link">Codepen</a>, <a href="https://dribbble.com/uvacoder" target="_blank" class="link">Dribbble</a>, & <a href="https://github.com/uvacoder" target="_blank" class="link">GitHub</a>.

    include includes/footer
    
