extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer living in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn'

block title
  | About - 

block content

  .gradient

  .content

    include includes/header

    section.clear.fun-container

        h1 Here's some fun projects!

        <img src="https://cdn.dribbble.com/users/3430/screenshots/5971060/media/a0f8bca7727f08cb948c20825a802afc.jpg?compress=1&resize=1600x1200&vertical=top">

        <img src="https://cdn.dribbble.com/users/3430/screenshots/13963661/media/c0ae62eb7ca5cb019985abe4db5ccef8.jpg?compress=1&resize=1600x1200&vertical=top">

        <img src="https://cdn.dribbble.com/users/3430/screenshots/3186749/blaster800x600.jpg?compress=1&resize=800x600&vertical=top">

        <img src="https://cdn.dribbble.com/users/3430/screenshots/5962087/media/859851706b251b1769ec94d4feefdc7b.jpg?compress=1&resize=1600x1200&vertical=top">

        <img src="https://cdn.dribbble.com/users/3430/screenshots/191164/media/b897cbfc37d85c3065c44160abea52ca.jpg?compress=1&resize=400x300&vertical=top">

        <img src="https://cdn.dribbble.com/users/3430/screenshots/13834737/toggle_dribbble.png?compress=1&resize=1000x750&vertical=top">

        

       


    include includes/footer
    