extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer living in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block content

  .gradient

  .content

    include includes/header

    section#intro

      .content-home.clear

        h1 <img src="/assets/images/wave.png" width="35px" class="emoji"> Hello! I'm Kate, your friendly neighborhood designer. <br> I specialize in <img src="/assets/images/heart-eyes.png" class="emoji med"> user-centered product design that is rooted in <img src="/assets/images/rainbow.png" class="emoji med"> cross-functional collaboration.

        h2 I currently <img src="/assets/images/woman-comp.png" class="emoji med"> work with the amazing team at <a href="https://www.elastic.co/">Elastic</a>. <img src="/assets/images/blue-heart.png" class="emoji med">
        
        h3 Gosh, this text just keeps getting smaller and smaller... <img src="/assets/images/monocle.png" class="emoji small">

        h4 I kinda want to see how small it will get. <img src="/assets/images/detective.png" class="emoji xsmall"> 

        h5 Pretty small, huh? <img src="/assets/images/magnify.png" class="emoji xsmall"> 

        h2 That was fun! Let's get to <a href="/work">work</a>! <img src="/assets/images/party.png" class="emoji large">
      
      include includes/footer
