extends layout

block vars
  - var pageDescription = 'Maddie Campbell is a free spirit, tree huggin NOVA resident.'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block content

  .gradient

  .content

    include includes/header

    section#intro

      .clear

        h1 Hello! <img src="/assets/images/wave.png" width="35px" class="emoji large"> I'm Maddie, your <img src="/assets/images/superhero.png" width="35px" class="emoji large"> friendly neighborhood tree hugger. 
        
        h2 I lead my friends that are rooted in <img src="/assets/images/detective.png" class="emoji med"> user-centered design and <img src="/assets/images/rainbow.png" class="emoji med"> cross-functional collaboration.

        h2 Check out my <a  href="/work" class="link">recent work</a> or learn more <a href="/about" class="link">about me</a>.

      include includes/footer
