extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer living in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn home'

block content

  .gradient

  .content

    include includes/header

    section#intro

      .content-home.clear

        h1 Hello! <img src="/assets/images/wave.png" width="35px" class="emoji large"> I'm Kate, your <img src="/assets/images/superhero.png" width="35px" class="emoji large"> friendly neighborhood designer. 
        
        h2 I lead teams that are rooted in <img src="/assets/images/detective.png" class="emoji med"> user-centered design and <img src="/assets/images/rainbow.png" class="emoji med"> cross-functional collaboration.

      .work-grid.case-studies

        .work-col
          .logo-wrap
            img(src='/assets/images/about-norah.jpg')

          .work-info
            div
              h3 Interested in Case Studies? I've got 'em.

              .button-wrap
                button
                  a(href='/work-bonusly') View case studies

        .work-col
          .logo-wrap
            img(src='/assets/images/about-rosie.jpg')

          .work-info
            div
              h3 Looking for some fun projects? This is the place.
                                          
              .button-wrap
                button
                  a(href='/work-ba') View fun projects

        .work-col
          .logo-wrap
            img(src='/assets/images/about-henry.jpg')

          .work-info
            div
              h3 Want to learn more about me? Look no further.
              
              .button-wrap
                button
                  a(href='/work-b2p') Learn more about me
      
      include includes/footer
