extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn home'

block content

  .gradient

  .content

    include includes/header

  section#intro

    .content.clear

      h1 Hello. I'm Kate, your friendly neighborhood designer.

      h2 I currently lead Product Design with the amazing team at <a href="https://bonus.ly">Bonusly</a>.

      h2 I design to connect people.

      button.rainbow Let's view some work!

  .content

    //- .circle-test

    //- .circle-test

    //- .circle-test

    
  include includes/footer
