extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn home'

block content

  .gradient

  .content

    include includes/header

    section#intro

      .content-home.clear

        h1 Hello. <img src="/assets/images/emoji-wave.png" width="35px" style="position:relative; top: 2px"> I'm Kate, your friendly neighborhood designer.

        h2 I currently lead Product Design with the amazing team at <a href="https://bonus.ly">Bonusly</a>.

        h3 I specialize in user-centric design, front-end development, & cross-functional collaboration.

        h4 Gosh, this text just keeps getting smaller and smaller...

        h5 I kinda want to see how small it will get.

        h6 Pretty small, huh?

        h2 Anyway, let's get to <a href="/work">work</a>!
      
      include includes/footer
