extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn home'

block content

  .gradient

  .content

    include includes/header

  section#intro

    .content.clear

      h1 Hello! I'm Kate - a design leader living in Boulder, CO.

  .content

    section#info

      h2.center I specialize in

      .icons-wrap

        .item
          img.icon.small(src='/assets/images/icon-lightbulb.svg')
          h3 User Centered<br> Design

        .item
          img.icon.large(src='/assets/images/icon-screens.svg')
          h3 Product Design

        .item
          img.icon.med(src='/assets/images/icon-bubbles.svg')
          h3 Cross-Functional<br> Teams
     
  section#cta

    .content
    
      h2 Let's get to know each other!<br>Check out <a href="/work">my recent work.</a>
    
  include includes/footer
