extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn work'

block title
  | Recent Work - 

block content

  .content

    include includes/header

    h1.title.fadeIn Recent Work

    section.clear

      .work-wrap.teal.clear

        .logo-wrap
          img(src='/assets/images/work-logo-ba.png')

        .work-info
          h2 Balancing Act
          
          p An online experience to engage citizens in public budgeting.
          
          p.small My role: product design, user experience, user interface, front end development
          
          .button-wrap
            button
              a(href='http://abalancingact.com' target='_blank') View Site
            button
              a(href='http://greensboronclgba.v1.abalancingact.com/' target='_blank') View App

      .work-wrap.pink.clear

        .logo-wrap
          img(src='/assets/images/work-logo-swrtc.png' class='med')

        .work-info
          h2 SimpleWebRTC
          
          p Responsive website for realtime React modules product built by &yet
          
          p.small My role: user experience, user interface, responsive web, front end development
          
          .button-wrap
            button
              a(href='http://simplewebrtc.com' target='_blank') View Site

      .work-wrap.purple.clear

        .logo-wrap
          img(src='/assets/images/work-logo-heroku.png' class='med')

        .work-info
          h2 Heroku
          
          p Design and development support for Heroku.com with the team at &yet
          
          p.small My role: user experience, user interface, responsive web, front end development
          
          .button-wrap
            button
              a(href='https://heroku.com' target='_blank') View Site

      .work-wrap.orange.clear

        .logo-wrap
          img(src='/assets/images/work-logo-moneythink.png')

        .work-info
          h2 Moneythink
          
          p Financial education native app for iOS and Android platforms.
          
          p.small My role: product design, user experience, user interface, iOS, Android
          
          .button-wrap
            button
              a(href='https://moneythink.org' target='_blank') View Site


      .work-wrap.light-blue.clear

        .logo-wrap
          img(src='/assets/images/work-logo-open-ideo.png')

        .work-info
          h2 Open Ideo
          
          p Social platform connecting designers in the Open Ideo Chapters and Amplify programs.

          p.small My role: product design, user experience, user interface, responsive web, front end development

          .button-wrap
            button
              a(href='https://openideo.com/amplify' target='_blank') View Site
            button
              a(href='https://beta.openideo.com/chapters' target='_blank') View App

      .work-wrap.red.clear

        .logo-wrap
          img(src='/assets/images/work-logo-denver.png')

        .work-info
          h2 Denver Taxpayer Receipt
          
          p Digital receipt for citizens to see how much they paid in taxes for each item in a budget.
          
          p.small My role: product design, user experience, user interface, front end development
          
          .button-wrap
            button
              a(href='http://abalancingact.com/solutions/tax-receipt' target='_blank') View Site
            button
              a(href='http://denver.abalancingact.com/taxreceipt' target='_blank') View App
              
      .work-wrap.dark-blue.clear

        .logo-wrap
          img(src='/assets/images/work-logo-causelabs.png')

        .work-info
          h2 CauseLabs
          
          p Complete website redesign for CauseLabs, a socially concious innovation firm.
          
          p.small My role: user experience, user interface, responsive web, front end development
          
          .button-wrap
            button
              a(href='http://causelabs.com' target='_blank') View Site

      .work-wrap.yellow.clear

        .logo-wrap
          img(src='/assets/images/work-logo-bpn.png' class='large')

        .work-info
          h2 Blue Planet Network
          
          p Technology platform for water and sanitation projects in developing countries.
          
          p.small My role: product design, user experience, user interface, responsive web, front end development
          
          .button-wrap
            button
              a(href='http://blueplanetnetwork.org/' target='_blank') View Site
            button
              a(href='http://blueplanetnetwork.org/map/' target='_blank') View App
    
    p.small.center For case studies, send an email to <a href="mailto:kate.farrar@gmail.com">kate.farrar@gmail.com</a>

    include includes/footer



