extends layout

block vars
  - var pageDescription = 'Maddie Campbell is a free spirit, tree huggin NOVA resident.'
  - var bodyClass = 'animate__animated animate__fadeIn work'

block title
  | Recent Projects - 

block content

  .gradient

  .content

    include includes/header

    section
      h1.title Recent Projects
      .case-studies
        h2.title Projects
        .work-grid

          .work-col
              .logo-wrap
                img(src='/assets/images/logos/screenshot-bookmarks4dev.png')

              .work-info
                div
                  h3 Bookmarks4dev
                  
                  p A curated collection of my favorite programming vookmarks.
                  
                  p.small My role: creator
                  
                  .button-wrap
                    button
                      a(href='https://bookmarks-dev.vercel.app' target='_blank') Visit Site
                      
                      
                      
                    button
                      a(href='https://github.com/uvacoder' target='_blank') GitHub Repo

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/screenshot-maddies-world.png')

            .work-info
              div
                h3 Maddie's World
                
                p A fun website to show off young Maddie with her school and animals.
                
                p.small My role: site creator
                
                .button-wrap
                  button
                    a(href='https://maddie.vercel.app/' target='_blank') Visit Site

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/screenshot-portfolios4me.png')

            .work-info
              div
                h3 Portfolios4me
                
                p A curated collection of my favorite developer portfolios.
                
                p.small My role: site creator
                
                .button-wrap
                  button
                    a(href='https://portfolios4me.vercel.app' target='_blank') Visit Site

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/screenshot-webdev-cheatsheets.png')

            .work-info
              div
                h3 WebDev Cheatsheets
                
                p A great curated collection of cheatsheets for all the popular programming languages.
                
                p.small My role: Site creator
                
                .button-wrap
                  button
                    a(href='https://webdev-cheatsheets.vercel.app' target='_blank') Visit Site
                    
          .work-col
            .logo-wrap
              img(src='/assets/images/logos/screenshot-picknemoji.png')

            .work-info
              div
                h2 Emoji Picker
                
                p A great site to search the emoji database and copy to your clipboard.
                
                p.small My role: Site creator
                
                .button-wrap
                  button
                    a(href='http:/picknemoji.vercel.app/' target='_blank') Visit Site
                    
           .work-col
            .logo-wrap
              img(src='/assets/images/logos/screenshot-guide4css.png')

            .work-info.even
              div
                h2 CSS Snips
                
                p A great guide for CSS layouts as well as snippets of layouts.
                
                p.small My role: Site creator
                
                .button-wrap
                  button
                    a(href='https://guide4css.vercel.app' target='_blank') Visit Site

    .work-links
      h2.title Additional Projects
      .work-grid

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/screenshot-musixx.png')

            .work-info
              div
                h2 Music Player
                
                p A simple webapp to play all your mp3 files.
                
                p.small My role: Site creator
                
                .button-wrap
                  button
                    a(href='https://mymusixx.vercel.app' target='_blank') Visit Site

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/screenshot-guide4css.png')

            .work-info.even
              div
                h2 CSS Snips
                
                p A great guide for CSS layouts as well as snippets of layouts.
                
                p.small My role: Site creator
                
                .button-wrap
                  button
                    a(href='https://guide4css.vercel.app' target='_blank') Visit Site

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/work-logo-moneythink.png')

            .work-info
              div
                h2 Moneythink
                
                p Financial education app for iOS and Android platforms.
                
                p.small My role: product design, native app design
                
                .button-wrap
                  button
                    a(href='http://moneythink.org' target='_blank') Visit Moneythink



          .work-col
            .logo-wrap
              img(src='/assets/images/logos/work-logo-swrtc.png')

            .work-info
              div
                h2 SimpleWebRTC
                
                p Responsive website for realtime React modules product including developer documentation built by &yet.
                
                p.small My role: user experience, user interface, responsive web, front end development
                
                .button-wrap
                  button
                    a(href='http://simplewebrtc.com/' target='_blank') Visit SimpleWebRTC

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/work-logo-thrive.png')

            .work-info.even
              div
                h2 Thrive Networks
                
                p Technology platform for water and sanitation projects in developing countries.
                
                p.small My role: product design, front end development
                
                .button-wrap
                  button
                    a(href='https://thrivenetworks.org/thrive-water/' target='_blank') Visit Thrive Networks

          .work-col
            .logo-wrap
              img(src='/assets/images/logos/work-logo-teamsnap.png')

            .work-info
              div
                h2 Teamsnap
                
                p Sports team management app for communication and organization.
                
                p.small My role: product design, front end development
                
                .button-wrap
                  button
                    a(href='http://teamsnap.com' target='_blank') Visit Teamsnap

    include includes/footer



