extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn case-study'

block title
  | Case Study: Bonusly - 

block content

  .gradient

  .content.case-studies

    include includes/header

    #intro

      h1 Case Study: Bonusly

      figure
        img.full(src='/assets/images/logos/bonusly-header.png' alt='bonusly')

      h2 Overview: Bonusly is a fun, personal employee recognition and rewards program that enriches your company culture and improves engagement.

      h2 My role: Lead Product Designer

    #main

      p In early 2018, I joined the team at Bonusly as a Product Designer.

      .cs-grid
        figure.cs-col
          img(src='/assets/images/b2p-1.jpg' alt="b2p")
          figcaption.center 
            small Image courtesy of Bridges to Prosperity.

        figure.cs-col
          img(src='/assets/images/b2p-1.jpg' alt="b2p")
          figcaption.center 
            small Image courtesy of Bridges to Prosperity.

      p B

      .button-wrap
        button
          a(href='http://bonus.ly' target='_blank') Learn More

    include includes/footer
