extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn work'

block title
  | Recent Work - 

block content

  .gradient

  .content

    include includes/header

    section.case-studies
      h2.title Case Studies
      .work-grid

        .work-col.dark-blue
          .logo-wrap
            img(src='/assets/images/logos/bonusly-header.png')

          .work-info
            div
              h2 Bonusly
              
              p Bonusly is a fun, personal employee recognition and rewards program.
              
              p.small My role: lead product designer
              
              .button-wrap
                button
                  a(href='/work-bonusly') View Case Study

        .work-col.dark-blue
          .logo-wrap
            img(src='/assets/images/logos/ba-header.png')

          .work-info
            div
              h2 Balancing Act
              
              p An online experience to engage citizens in public budgeting.
              
              p.small My role: lead product designer
              
              .button-wrap
                button
                  a(href='/work-ba') View Case Study

        .work-col.dark-blue
          .logo-wrap
            img(src='/assets/images/logos/b2p-header.png')

          .work-info
            div
              h2 Brides to Prosperity
              
              p Design workshop to develop a prototype tablet app.
              
              p.small My role: workshop facilitator, lead product designer
              
              .button-wrap
                button
                  a(href='/work-b2p') View Case Study


        //- .work-grid
        //-   .work-col
        //-     a(href='/work-bonusly').link
        //-       img.full(src='/assets/images/logos/bonusly-header.png' alt='bonusly')
        //-       span view case study

        //-   .work-col
        //-     a(href='/work-ba').link
        //-       img.full(src='/assets/images/logos/ba-header.png' alt='balancing act')
        //-       span view case study

        //-   .work-col
        //-     a(href='/work-b2p').link
        //-       img.full(src='/assets/images/logos/b2p-header.png' alt='bridges to prosperity')
        //-       span view case study

    h2.title Past Product Experience
    .work-grid

        .work-col.dark-blue
          .logo-wrap
            img(src='/assets/images/work-logo-bonusly.png')

          .work-info
            div
              h2 Bonusly
              
              p Bonusly is a fun, personal employee recognition and rewards program.
              
              p.small My role: lead product designer
              
              .button-wrap
                button
                  a(href='http://bonus.ly' target='_blank') Learn More

        .work-col.dark-blue
          .logo-wrap
            img(src='/assets/images/work-logo-causelabs.png')

          .work-info
            div
              h2 CauseLabs
              
              p Complete website redesign for CauseLabs, a socially concious innovation firm.
              
              p.small My role: product design, responsive web, front end development
              
              .button-wrap
                button
                  a(href='http://causelabs.com' target='_blank') Learn More

        .work-col.teal
          .logo-wrap
            img(src='/assets/images/work-logo-causelabs.png')

          .work-info
            div
              h2 Balancing Act
              
              p An online experience to engage citizens in public budgeting.
              
              p.small My role: product design, front end development
              
              .button-wrap
                button
                  a(href='http://abalancingact.com' target='_blank') Learn More

    section
      h2.title Past Product Experience
      .work-grid
        .work-logo-col
          a(href='https://www.openideo.com/chapters' target='_blank') 
            img(src='/assets/images/logos/work-logo-open-ideo.png')
        .work-logo-col 
          a(href='https://heroku.com' target='_blank')
            img(src='/assets/images/logos/work-logo-heroku.png')
        .work-logo-col 
          a(href='https://moneythink.org' target='_blank')
            img(src='/assets/images/logos/work-logo-moneythink.png')
      .work-grid
        .work-logo-col 
          a(href='https://simplewebrtc.com' target='_blank')  
            img(src='/assets/images/logos/work-logo-swrtc.png')
        .work-logo-col 
          a(href='https://thrivenetworks.org/thrive-water/' target='_blank')  
            img(src='/assets/images/logos/work-logo-thrive.png')
        .work-logo-col 
          a(href='https://teampsnap.com' target='_blank')  
            img(src='/assets/images/logos/work-logo-teamsnap.png')

    section
      h2.title Dribbble Shots
      .work-grid
        .work-col

        .work-col

        .work-col

    include includes/footer



