extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer living in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn case-study'

block title
  | Case Study: Bridges to Prosperity - 

block content

  .gradient

  .content.case-studies.clear

    include includes/header

    #intro

      h1 Case Study: Bridges to Prosperity Design Workshop

      figure
        img.full(src='/assets/images/logos/b2p-header.png' alt="b2p")

    #main

      h2 Overview: Two day workshop on-site with engineers to build a prototype for 

      h2 My Role: Design Workshop Facilitation, Product Design

      p Bridges to Prosperity is a non-profit group that believes <em>"Connection is the critical foundation for economic opportunity, healthcare, and education"</em>. B2P goes into rural areas in developing countries and build bridges to remove barriers. Their team joined us for a two day workshop to explore a tablet app that would help Project Foremen on construction sites.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/b2p-7.jpg' alt="b2p")
          figcaption.center
            small Aftermath of a Two Day Workshop

        figure.cs-col-2
          img(src='/assets/images/logos/b2p-6.jpg' alt="b2p")
          figcaption.center 
            small The workshop crew!

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/b2p-1.jpg' alt="b2p")
          figcaption.center
            small Paper prototype of Safety Report

        figure.cs-col-2
          img(src='/assets/images/logos/b2p-2.jpg' alt="b2p")
          figcaption.center 
            small Paper prototype of Project View

      p B2P needed a digital solution, preferably for tablets, that allowed their Foremen to review plans, track progress, and report safety issues all while on site. Two of the biggest challenges we faced were connectivity and language barriers. Due to the rural areas that B2P operates in, there is often little to no mobile connection at project sites. Additionally, several of the Foremen who would be using the app are able to read and speak, but not write in English. To address these concerns we developed three user personas based on real people who work for B2P.

      .cs-grid-3
        figure.cs-col-3
          img(src='/assets/images/logos/b2p-user1.png' alt="b2p")
          figcaption.center
            small User Persona #1

        figure.cs-col-3
          img(src='/assets/images/logos/b2p-user2.png' alt="b2p")
          figcaption.center 
            small User Persona #2

        figure.cs-col-3
          img(src='/assets/images/logos/b2p-user3.png' alt="b2p")
          figcaption.center 
            small User Persona #3

      p The result of the two day workshop was a clickable prototype that allowed Foremen to easily view project plans by allowing them to be uploaded by PDF and saved for offline view. Additionally, we solved the language barrier issues by allowing Foremen to upload a voice memo with the details of the Safety Report. The team was then able to take the lo-fidelity prototype to investors in hopes to secure funding for the project.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/b2p-3.png' alt="b2p")
          figcaption.center
            small Lo-fi prototype

        figure.cs-col-2
          img(src='/assets/images/logos/b2p-4.png' alt="b2p")
          figcaption.center 
            small Lo-fi prototype

      .cs-grid-2
          figure.cs-col-2
            img(src='/assets/images/logos/b2p-6.png' alt="b2p")
            figcaption.center
              small Lo-fi prototype

          figure.cs-col-2
            img(src='/assets/images/logos/b2p-5.png' alt="b2p")
            figcaption.center 
              small Lo-fi prototype

    .btn-left.clear
      a.rainbow(href='/work') Back to Work
    .btn-right.clear
      a.rainbow(href='https://bridgestoprosperity.org/' target='_blank') Visit B2P
        
  include includes/footer
