extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn work'

block title
  | Recent Work - 

block content

  .gradient

  .content

    include includes/header

    h1.title.fadeIn Work

    section
      h2.title Case Studies
      .work-grid
        .work-col
          img(src='/assets/images/logos/bonusly-logo.svg')
          h3 Bonusly
          a(href='/work/bonusly').link view case study
        .work-col
          img(src='/assets/images/logos/balancing-act-logo.svg')
          h3 Balancing Act
          a(href='/work/balancing-act').link view case study
        .work-col
          img(src='/assets/images/logos/b2p-logo.svg') 
          h3 Bridges to Prosperity
          a(href='/work/b2p').link view case study

    small ** Also open to working companies whose names don't start with the letter "B" &amp; have green in their logo **

    section
      h2.title Past Products
      .work-grid
        .work-logo-col Open Ideo
        .work-logo-col Heroku
        .work-logo-col SimpleWebRTC
        .work-logo-col Moneythink
        .work-logo-col Thrive Networks
        .work-logo-col TeamSnap

    section
      h2.title Dribbble Shots
      .work-grid
        .work-col

        .work-col

        .work-col

    include includes/footer



