extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animate__animated animate__fadeIn work'

block title
  | Recent Work - 

block content

  .gradient

  .content

    include includes/header

    section.case-studies
      h2.title Case Studies
      .work-grid

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/bonusly-header.png')

          .work-info
            div
              h2 Bonusly
              
              p Bonusly is a fun, personal employee recognition and rewards program.
              
              p.small My role: lead product designer
              
              .button-wrap
                button
                  a(href='/work-bonusly') View Case Study

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/ba-header.png')

          .work-info
            div
              h2 Balancing Act
              
              p An online experience to engage citizens in public budgeting.
              
              p.small My role: lead product designer
              
              .button-wrap
                button
                  a(href='/work-ba') View Case Study

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/b2p-header.png')

          .work-info
            div
              h2 Brides to Prosperity
              
              p Design workshop to develop a prototype tablet app.
              
              p.small My role: workshop facilitator, lead product designer
              
              .button-wrap
                button
                  a(href='/work-b2p') View Case Study

    h2.title Additional Experience
    .work-grid

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/work-logo-open-ideo.png')

          .work-info
            div
              h2 Open Ideo
              
              p Social platform connecting designers in the Open Ideo Chapters and Amplify programs.
              
              p.small My role: product design, responsive web, front end development
              
              .button-wrap
                button
                  a(href='http://openideo.com/chapters' target='_blank') Visit Open Ideo

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/work-logo-heroku.png')

          .work-info.even
            div
              h2 Heroku
              
              p Design and development support for Heroku.com with the team at &yet.
              
              p.small My role: user experience, user interface, responsive web, front end development
              
              .button-wrap
                button
                  a(href='http://heroku.com' target='_blank') Visit Heroku

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/work-logo-moneythink.png')

          .work-info
            div
              h2 Moneythink
              
              p Financial education app for iOS and Android platforms.
              
              p.small My role: product design, native app design
              
              .button-wrap
                button
                  a(href='http://moneythink.org' target='_blank') Visit Moneythink

    .work-grid

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/work-logo-swrtc.png')

          .work-info
            div
              h2 SimpleWebRTC
              
              p Responsive website for realtime React modules product including developer documentation built by &yet.
              
              p.small My role: user experience, user interface, responsive web, front end development
              
              .button-wrap
                button
                  a(href='http://simplewebrtc.com/' target='_blank') Visit SimpleWebRTC

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/work-logo-thrive.png')

          .work-info.even
            div
              h2 Thrive Networks
              
              p Technology platform for water and sanitation projects in developing countries.
              
              p.small My role: product design, front end development
              
              .button-wrap
                button
                  a(href='https://thrivenetworks.org/thrive-water/' target='_blank') Visit Thrive Networks

        .work-col
          .logo-wrap
            img(src='/assets/images/logos/work-logo-teamsnap.png')

          .work-info
            div
              h2 Teamsnap
              
              p Sports team management app for communication and organization.
              
              p.small My role: product design, front end development
              
              .button-wrap
                button
                  a(href='http://teamsnap.com' target='_blank') Visit Teamsnap

    include includes/footer



