extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'animated fadeIn case-study'

block title
  | Case Study: Bonusly - 

block content

  .gradient

  .content.case-studies.clear

    include includes/header

    #intro

      h1 Case Study: Bonusly

      figure
        img.full(src='/assets/images/logos/bonusly-header.png' alt='bonusly')

      h2 Overview: Bonusly is a fun, personal employee recognition and rewards program that enriches your company culture and improves engagement.

      h2 My Role: Lead Product Designer

    #main

      p In early 2018, I joined the team at Bonusly as a Product Designer. I was the second design hire at the company and have since lead hiring to grow our team to four. My primary responsibilities are to own the design process from end to end while partnering with Engineers, Product Owners, and Business stakeholders. I also coordinate and facilitate user testing and research.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-2.png' alt="rewards")
          figcaption.center 
            small Rewards

        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-1.png' alt="pricing")
          figcaption.center 
            small Pricing

      p In early 2018, I joined the team at Bonusly as a Product Designer. I was the second design hire at the company and have since lead hiring to grow our team to four. My primary responsibilities are to own the design process from end to end while partnering with Engineers, Product Owners, and Business stakeholders. I also coordinate and facilitate user testing and research.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-3.png' alt="sign up")
          figcaption.center 
            small Sign Up

        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-4.png' alt="sign up")
          figcaption.center 
            small Sign Up Form

      .btn-left.clear
        a.rainbow(href='https://bonus.ly' target='_blank') Learn More About Bonusly
      .btn-right.clear
        a.rainbow(href='/work') Back to Work

  include includes/footer
