extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer living in CO.'
  - var bodyClass = 'animate__animated animate__fadeIn case-study'

block title
  | Case Study: Bonusly - 

block content

  .gradient

  .content.case-studies.clear

    include includes/header

    #intro

      h1 Case Study: Bonusly

      figure
        img.full(src='/assets/images/logos/bonusly-header.png' alt='bonusly')

    #main
      h2 Overview: Bonusly is a fun, personal employee recognition and rewards program that enriches your company culture and improves engagement.

      h2 My Role: Lead Product Designer

      p In early 2019, I joined the team at Bonusly as a Product Designer. My primary responsibilities are to own the design process from end to end while partnering with Engineers, Product Owners, and Business stakeholders. I also coordinate and facilitate user testing and research.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-2.png' alt="rewards")
          figcaption.center 
            small Rewards

        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-1.png' alt="pricing")
          figcaption.center 
            small Pricing

      p One of the first features that I worked on was a redesign of the Give Box, which is the most central part of the Bonusly app UI. Previously markdown was used to add links, images, and emojis. This was was messy and hard for the user to preview. We had also recieved feedback from users and from heatmap testing that the Give button being on the left side was confusing for users. After some prototypes and testing of different concepts, we landed on a design that moved the Give button to the right (following general design patterns for submit buttons), adding inline previews for images, emojis, and GIFs, we added descriptions to the buttons UI buttons in the top left, and we added inline previews of GIFs and images. Lastly, we added a gray background to the post buttons to let them stand out and not appear disabled.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-before.png' alt="before")
          figcaption.center 
            small Give Box Before Redesign

        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-after.png' alt="After")
          figcaption.center 
            small Give Box After Redesign

      p One of the next areas of the app that I worked on was a complete overhaul of the user experience and user interface for how people sign up and sign in of the app. Initially, this scope of the project only covered the sign up flow, but after user interviews and research (conducted using the Full Story app), we decided the sign in process was also in need of an overhaul. Additionally, updating both flows at the same time allowed us to make the UI consistent across the app. The old sign up experience required the user to go through 7 different steps (7 page loads!) and the new experience cut that down to 2 (or 3 based on if they are an Enterprise customer). The old UI was stylistically very different from the Bonusly app experience and we wanted to introduce UI elements and themes in the onboarding process that would then be familiar to the user once they began using the app. We also incorporated more of Bonusly's brand and personality during the redesign. We have seen very positive results with these changes and have recieved feedback that the streamlined process is much easier to use.

      
      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-work-sign-in.png' alt="user flows")
          figcaption.center 
            small Sign In Userflows

        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-work-sign-up.png' alt="user flows")
          figcaption.center 
            small Sign Up Userflows

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-3.png' alt="sign up")
          figcaption.center 
            small Redesigned Sign Up Landing Page

        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-4.png' alt="sign up")
          figcaption.center 
            small Redesigned Sign Up Form

      p My team recently did a redesign of our Bonusly Slack Integration. Previously, our Slack Integration was a slash command "/give" which was limited in features and also required the user to use markup. The new Bonusly for Slack guides users through the Giving interaction in a modal and makes it easy to add a GIF to bonuses. We were able to utilize <a href="https://api.slack.com/block-kit" target="_blank">Slack's Block Kit</a> tool to prototype and test different interactions during the design process. Bonusly for Slack was recently featured on <a href="https://www.producthunt.com/posts/bonusly-for-slack" target="_blank">Product Hunt</a> and in the Slack marketplace.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-slack1.png' alt="slack")
          figcaption.center 
            small Bonusly Slack Integration Channel

        figure.cs-col-2
          img(src='/assets/images/logos/bonusly-slack2.png' alt="slack")
          figcaption.center 
            small Bonusly Slack Giving Modal

    .btn-left.clear
      a.rainbow(href='https://bonus.ly' target='_blank') Visit Bonusly
    .btn-right.clear
      a.rainbow(href='/work') Back to Work
      

  include includes/footer
