extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer living in CO'
  - var bodyClass = 'animate__animated animate__fadeIn case-study'

block title
  | Case Study: Balancing Act - 

block content

  .gradient

  .content.case-studies.clear

    include includes/header

    #intro

      h1 Case Study: Balancing Act

      figure
        img.full(src='/assets/images/logos/ba-header.png' alt="b2p")

    #main

      h2 Overview: An interactive simulation for citizens to engage in public budgeting.

      h2 My Role: Product Design, Front End Development, Branding

      p Balancing Act is an online experience to engage citizens in public budgeting. For two years, I lead a team of one project manager, two developers, and one strategist and was the Lead Designer and Strategist. I lead the product design, front end development, rebranding, and creation of a supplemental product called <a href="http://abalancingact.com/solutions/tax-receipt" target="_blank">Taxpayer Receipt</a>.

      blockquote
        h3 <em>"Kate was the lead UX designer on a new, public-facing simulation we were creating. What she developed has stood the test of time for four years and there has been no serious consideration given to replacing it. It was just plain, good design. She is a delight to work with."</em><cite>- Chris Adams, President of Balancing Act</cite>

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/ba-2.jpg' alt="lego prototype")
          figcaption.center 
            small Paper & LEGO prototype

        figure.cs-col-2
          img(src='/assets/images/logos/ba-7.png' alt="prototype")
          figcaption.center 
            small Alpha prototype

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/ba-3.png' alt="user flows")
          figcaption.center 
            small User flow diagram

        figure.cs-col-2
          img(src='/assets/images/logos/ba-4.png' alt="wireframes")
          figcaption.center 
            small Wireframes and lo-fi mockups

      p We conducted extensive user testing during the entire development of the product. Starting with paper prototypes during the workshop phase to alpha testing with lo-fidelity prototypes and finally beta testing with the same group of users. This was able to help us iterate quickly and identify problem areas for users. Both the Balancing Act Budget Simulation and the Taxpayer Receipt were built to be fully responsive and accessible on all devices, from desktop to tablet to mobile.

      .cs-grid-2
        figure.cs-col-2
          img(src='/assets/images/logos/ba-5.png' alt="fort collins budget")
          figcaption.center 
            small Fort Collins, CO budget simulation

        figure.cs-col-2
          img(src='/assets/images/logos/ba-6.jpg' alt="tax receipt")
          figcaption.center 
            small Taxpayer receipt for the City of Denver

      p Balancing Act has been used by over 50 cities including Denver, Fort Collins, Boulder, Nashville, and San Antonio. It has been <a href="http://abalancingact.com/press" target="_blank">featured</a> on sites like <a href="https://www.fastcompany.com/3047270/this-app-lets-you-see-the-tough-choices-needed-to-balance-your-citys-budget" target="_blank">Fast Company</a>, <a href="https://www.huffingtonpost.com/larry-schooler/its-your-money-wheres-you_b_9114234.html?utm_hp_ref=politics&ir=Politics" target="_blank">HuffPost</a>, and <a href="http://www.cpr.org/news/story/washington-cant-balance-federal-budget-can-you" target="_blank">Colorado Public Radio</a>. A <a href="http://usa.v1.abalancingact.com/" target="_blank">federal budget version</a>, co-sponsored with the Bipartisan Policy Center, has been used by over 100,000 students and was featured in a <a href="https://www.pbs.org/newshour/extra/lessons-plans/lesson-plan-how-to-create-a-balanced-budget-its-a-balancing-act/" target="_blank">PBS NewsHour Lesson Plan.</a>

    .btn-left.clear
      a.rainbow(href='/work') Back to Work
    .btn-right.clear
      a.rainbow(href='https://abalancingact.com' target='_blank') Visit Balancing Act

  include includes/footer
