/*--------------------------------------------------------------------
* $VARIABLES
--------------------------------------------------------------------*/

// Font Families
$font-family-roboto-mono = 'Roboto Mono', monospace
$font-family-roboto = 'Roboto', sans-serif

// Font Weights
$thin = 100
$light = 300
$medium = 500
$semibold = 600
$bold = 700
$black = 900

// Colors

$blue = #45B4FF
$yellow = #FFE81D
$green = #3CE389
$gray = #585757
$red = #F20303
