/*--------------------------------------------------------------------
* $VARIABLES
--------------------------------------------------------------------*/

// Font Families
$font-family-roboto-mono = 'Roboto Mono', monospace
$font-family-roboto = 'Roboto', sans-serif
$font-family-open-sans = 'Open Sans', sans-serif
$font-family-baloo = 'Baloo Chettan 2', sans-serif

// Font Weights
$thin = 100
$light = 300
$medium = 500
$semibold = 600
$bold = 700
$black = 800

// Colors

$blue = #45B4FF
$yellow = #FFE81D
$green = #3CE389
$gray = #585757
$red = #F20303
$orange = #fe991d
$white =#FFF