/*--------------------------------------------------------------------
* $VARIABLES
--------------------------------------------------------------------*/

// Font Families
$font-family-roboto-mono = 'Roboto Mono', monospace,
$font-family-roboto = 'Roboto', sans-serif

// Font Weights
$font-weight-thin = 100
$font-weight-light = 300
$font-weight-medium = 500
$font-weight-semibold = 600
$font-weight-bold = 800

// Colors

$blue = #45B4FF
$yellow = #FFE81D

$light-blue = #64B1FF
$purple = #AD5FF2
$orange = #FFAC7E
$green = #1B998B
$purple-two = #B2118D
$white = #ffffff
$gray = #585757
$red = #E71D36

// // Work Colors
// $work-light-blue = #18bad2
// $work-light-blue-fade = rgba(24, 186, 210, 0.05)
// $work-dark-blue = #2d77bc
// $work-dark-blue-fade = rgba(45, 119, 188, 0.05)
// $work-teal = #2c9299
// $work-teal-fade = rgba(44, 146, 153, 0.05)
// $work-pink = #e6198c
// $work-pink-fade = rgba(230, 25, 140, 0.05)
// $work-red = #bf3126
// $work-red-fade = rgba(191, 49, 38, 0.05)
// $work-yellow = #fbaf24
// $work-yellow-fade = rgba(251, 175, 36, 0.05)
// $work-purple = #4A4090
// $work-purple-fade = rgba(74, 64, 144, 0.05)
// $work-orange = #F27B3A
// $work-orange-fade = rgba(242, 123, 58, 0.05)
