header.clear.about

  .content
  
    h2.title 
      a(href='/') Kate Farrar

    ul.main-nav
      li: a(href='/work') Work
      li: a(href='/about') About
      li: a(href='https://twitter.com/katefarrar' target='_blank') @katefarrar