header.clear.about

  .content
  
    h2.title 
      a(href='/') Maddie Campbell

    ul.main-nav
      li: a(href='/work') Work
      li: a(href='/about') About
      li: a(href='https://twitter.com/VaLandscapes' target='_blank') @VaLandscapes
