footer

  .content

    section

      ul.center
        li: a(href='/') Home
        li: a(href='/work') Work
        li: a(href='/about') About
        li: a(href='https://twitter.com/katefarrar' target='_blank') @katefarrar

      p.center Copyright © 2019 Kate Farrar. <3

