footer

	.content

		section
			.flex-grid
				.col Copyright © 2020 Kate Farrar

				.col-middle <a href="#">Black Lives Matter</a>

				.col.social <a href="https://linkedin.com/in/katefarrar" target="_blank"><i class="fab fa-linkedin"></a></i> <a href="https://twitter.com/katefarrar" target="_blank"><i class="fab fa-twitter-square"></i></a> <a href="https://dribbble.com/katefarrar" target="_blank"><i class="fab fa-dribbble-square"></i></a> <a href="https://github.com/katefarrar" target="_blank"><i class="fab fa-github-square"></i></a>