footer

	.content

		section
			.flex-grid
				.col
					p Copyright ©<script> document.write(new Date().getFullYear())</script> Kate Farrar.

				.col.social <a href="https://linkedin.com/in/katefarrar" target="_blank"><i class="fab fa-linkedin-in"></a></i> <a href="https://twitter.com/katefarrar" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://instagram.com/katefarrar" target="_blank"><i class="fab fa-instagram"></i></a> <a href="https://dribbble.com/katefarrar" target="_blank"><i class="fab fa-dribbble"></i></a> <a href="https://github.com/katefarrar" target="_blank"><i class="fab fa-github"></i></a>