header.clear
  
  h2.title 
    a(href='/') <img src="/assets/images/blue-heart.png" class="emoji med"> Maddie Campbell

  ul.main-nav
    li: a(href='/work') Work
    li: a(href='/about') About
    li: a(href='https://twitter.com/VaLandscapes' target='_blank') @VaLandscapes
