header.clear
  
  h2.title 
    a(href='/') <img src="/assets/images/blue-heart.png" class="emoji med"> Kate Farrar

  ul.main-nav
    li: a(href='/work') Work
    li: a(href='/about') About
    li: a(href='https://twitter.com/katefarrar' target='_blank') @katefarrar
