/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/
.content
  max-width: 1200px;
  
.gradient
  background: rgb(242,3,3);
  background: linear-gradient(90deg, rgba(242,3,3,1) 0%, rgba(255,232,29,1) 33%, rgba(60,227,137,1) 66%, rgba(69,180,255,1) 100%);
  height: 5px;
  width: 100%;
  
.circle-test
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(-45deg, rgba(242,3,3, 1) 0%, rgba(255,232,29,1) 33%, rgba(60,227,137,1) 66%, rgba(69,180,255,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: fixed;
  opacity: .2;
  top: 100px;
  left: 100px;

  @keyframes gradient
    0%
      background-position: 0% 50%;
    50%
      background-position: 100% 50%;
    100%
      background-position: 0% 50%;
    
.home
  
  #intro
    width: 60%
    margin: 0 auto
  
  #intro
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    text-align: left;
    color: black;
    
    h2
      font-size: 30px;
      
      span
        font-style: italic;
        padding: 0 1px;
      
    h1
      text-align: left;
      font-size: 40px;

    .main-pic
      border-radius: 50%;
      margin: 0 auto;
      opacity: .95;
      margin-bottom: 25px;
      width: 200px;
    
    .overlay
      background-color: $purple;
  
  h2
    font-size: 40px;
      
  #info
    padding: 80px 0;
    
    h2
      font-size: 40px;
      margin-bottom: 40px;
      
  #cta
    background-color: none;
    padding: 60px 0;
    text-align: center;
    color: $white;
    
    a
      color: $white;
      border-color: $white;
  
  .icons-wrap
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    
    .item
      flex-basis: 33%;
      text-align: center;      
      
      img
        margin: 0 auto;
        padding-bottom: 10px;
        
      .large
        width: 175px;
      .med
        width: 155px;
      .small
        width: 120px;
        
@media only screen and (max-width: 700px)
  .home .icons-wrap
    display: block;
    
    .item
      flex-basis: 0;
      margin-bottom: 70px;
    
      &:last-child
        margin-bottom: 0;
        
  .home #intro h2
    font-size: 46px;
    
  .home #intro h1
    font-size: 36px;
    
  .home #info h2, .home h2
    font-size: 36px;
    
  .home .rotate
    display: block;
      

