/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/
.content
  max-width: 1100px;
  margin: 0 auto;
  
.gradient
  background: rgb(242,3,3);
  background: linear-gradient(90deg, rgba(242,3,3,1) 0%, rgba(255,232,29,1) 33%, rgba(60,227,137,1) 66%, rgba(69,180,255,1) 100%);
  height: 5px;
  width: 100%;
    
.home
  
  #intro
    text-align: left
    margin: 0 auto
    color: $gray

    h1, h2, h3, h4, h5, h6
      margin: 40px 0;
      
      &:last-child
        margin-bottom: 0;
      
    h1
      font-size: 55px;
      margin-top: 10px;
      line-height: 4rem;
      @media only screen and (max-width: 800px)
        font-size: 40px;
        line-height: normal;

      a
        background: linear-gradient(to top, #FFE81D 10%,transparent 10%)
        color: $gray
        transition: 0.2s ease all
        &:hover
          opacity: .8
      
    h2
      font-size: 44px;
      line-height: 3rem;
      @media only screen and (max-width: 800px)
        font-size: 32px;
        line-height: normal;
      
      
    h3
      font-size: 26px;
      
    h4
      font-size: 22px;
      
    h5
      font-size: 18px;
      
    h6
      font-size: 12px;
      

    .rainbow
      margin: 20px 0;

      .work-col
        width: 49%;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F20303, #FFE81D, #3CE389, #6DC4FF);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
      
        &:nth-child(odd)
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #6DC4FF, #3CE389, #FFE81D, #F20303);
        
    .logo-wrap
      margin: 0 auto;
      height: 165px;
      max-width: 100%;
      text-align: center;
      
      img
        position: relative;
        top: 40%;
        max-width: 60%;
        
    .work-info
      padding: 30px;
      
      &.even
        border-image-source: linear-gradient(to left, #6DC4FF, #3CE389, #FFE81D, #F20303);
        
      p.small
        font-size: 12px;
        padding-bottom: 5px;
        margin-bottom: 0;
          
      .button-wrap
        margin: 20px 10px 0 0;
        
      button
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        font-size: 16px;
        font-weight: $semibold;
        padding: .5rem .85rem;
        border: 2px solid $blue;
        margin-right: 10px;
        background-color: transparent;
        border-radius: 1rem;
        
        &:hover
          opacity: .8;
        
        a
          color: $blue;
    
    .work-grid
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
        
      @media only screen and (max-width: 800px)
        display: block;
        justify-content: none;
      
      .work-col
        width: 49%;
        border-radius: 1rem;
        border: 3px solid $blue;
        
        @media only screen and (max-width: 800px)
          width: 100%;
          margin-bottom: 40px;
        
        a
          display: inline-block;
          &:hover
            opacity: .8

        img
          width: 200px;
          border-radius: .8rem .8rem 0 0;

      .work-logo-col
        width: 32%;
        text-align: center;
        padding: 20px;

        a
          background: none;
        
        img
          width: 65%;
          &:hover
              opacity: .8;
        
        @media only screen and (max-width: 800px)
          width: 100%;

          img
            width: 60%;
            
    .case-studies
      .work-col
          
          @media only screen and (max-width: 800px)
            height: auto;
                
          img
            width: auto;
            max-width: 100%
            display: block;

            
        .work-info
          padding: 10px 20px;
          text-align: left;

          h3
            margin: 10px 0;

          button
            border: 2px solid $blue
            border-radius: 1rem
            
            a
              color: $blue