/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.work
  
  .content
    max-width: 1100px;

  h1.title
    text-align: left;
    padding-bottom: 0;
  
  .work-grid
    display: flex;
    justify-content: space-between;
    
    @media only screen and (max-width: 800px)
      display: block;
      width: 100%;
    
    .work-col
      width: 32%;
      
      @media only screen and (max-width: 800px)
        width: 100%;
      
      a
        display: inline-block;
        &:hover
          opacity: .8
          
      .link
        background: none;

      img
        margin: 0 auto;
        display: block;

    .work-logo-col
      width: 32%;
      text-align: center;
      padding: 20px;

      a
        background: none;
      
      img
        width: 65%;
        &:hover
            opacity: .8;
      
      @media only screen and (max-width: 600px)
        width: 100%;

        img
          width: 60%;
                
        
/*--------------------------------------------------------------------
* $CASE STUDIES
--------------------------------------------------------------------*/

.case-study


  .full
    width: 100%;
  
  .content
    max-width: 1100px;
    
  .logo
    max-width: 600px;
    
  .rainbow {
    margin: 10px 0;
  }
  
  .btn-left {
    float: left;
    
    @media only screen and (max-width: 600px) {
      float: none;
    }

  }
  
  .btn-right {
    float: right;
    
    @media only screen and (max-width: 600px) {
      float: none;
    }
  }
    
  #intro
    img
      margin-bottom: 40px;
          
    h1
      text-align: center;
      
  #main
    max-width: 1000px;
    margin: 0 auto;
    
    p
      margin: 60px 0;
      
      &:last-of-type
        margin: 40px 0;

      
  .cs-grid
    display: flex;
    
  .cs-col
    flex: 1;
    
  .cs-grid-2
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    
  .cs-col-2
    width: 48%;
    
.case-studies
  .logo-wrap
    height: auto;
    
    img
      width: auto;
      max-width: 100%
      top: 0;

    .work-info
      text-align: left;

.work-grid
    display: flex;
    justify-content: space-between;
    
  .work-col
    width: 49%;

  .logo-wrap
    margin: 0 auto;
    height: 250px;
    max-width: 100%;
    text-align: center;
    
    img
      position: relative;
      top: 40%;
      max-width: 75%;
      
    img.large
      top: 30%;
    
  .work-info
    border: 2px solid;
    padding: 30px;
    min-height: 275px;

  p.small
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 0;
      
  .button-wrap
    margin: 20px 10px 0 0;
          
  .light-blue
    .logo-wrap
      background-color: $work-light-blue;
    .work-info
      border-color: $work-light-blue;
      background-color: $work-light-blue-fade;

      button
        border: 2px solid $work-light-blue;
        
        a
          color: $work-light-blue;

      
  .dark-blue
    .logo-wrap
      background-color: $work-dark-blue;
    .work-info
      border-color: $work-dark-blue;
      background-color: $work-dark-blue-fade;

      button
        border: 2px solid $work-dark-blue;
        
        a
          color: $work-dark-blue;

  .pink
    .logo-wrap
      background-color: $work-pink;
    .work-info
      border-color: $work-pink;
      background-color: $work-pink-fade;

      button
        border: 2px solid $work-pink;
        
        a
          color: $work-pink;
    
  .yellow
    .logo-wrap
      background-color: $work-yellow;
    .work-info
      border-color: $work-yellow;
      background-color: $work-yellow-fade;
      
      button
        border: 2px solid $work-yellow;
        
        a
          color: $work-yellow;
          
  .purple
    .logo-wrap
      background-color: $work-purple;
    .work-info
      border-color: $work-purple;
      background-color: $work-purple-fade;
      
      button
        border: 2px solid $work-purple;
        
        a
          color: $work-purple;
          
  .orange
    .logo-wrap
      background-color: $work-orange;
    .work-info
      border-color: $work-orange;
      background-color: $work-orange-fade;
      
      button
        border: 2px solid $work-orange;
        
        a
          color: $work-orange;
    
  .teal
    .logo-wrap
      background-color: $work-teal;
    .work-info
      border-color: $work-teal;
      background-color: $work-teal-fade;

      button
        border: 2px solid $work-teal;
        
        a
          color: $work-teal;
    
  .red
    .logo-wrap
      background-color: $work-red;
    .work-info
      border-color: $work-red;
      background-color: $work-red-fade;
      
      button
        border: 2px solid $work-red;
        
        a
          color: $work-red;

    
