/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.work
  
  .content
    max-width: 1200px;

  h1.title
    text-align: left;
    padding-bottom: 0;
  
  .work-grid
    display: flex;
    justify-content: space-between;
    
    @media only screen and (max-width: 800px)
      display: block;
    
    .work-col
      border: 1px solid grey;
      width: 32%;
      text-align: center;
      border-radius: 20px;
      padding: 20px;
      
      a.link
        display: inline-block;

      img
        margin: 0 auto;
        display: block;
        width: 70%;

    .work-logo-col
      border: 1px solid grey;
      width: 16%;
      text-align: center;
      border-radius: 20px;
      padding: 20px;

/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.case-study
  .full
    width: 100%;
  
  .content
    max-width: 1200px;
    
  .logo
    max-width: 600px;
    
  #intro
    text-align: center;
    
    h1, h2
      text-align: left;
      
  .cs-grid
    display: flex;
    
  .cs-col
    flex: 1;

    
