/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.work
  
  .content
    max-width: 1100px;

  h1.title
    text-align: left;
    padding-bottom: 0;
    
  .work-col
    width: 49%;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F20303, #FFE81D, #3CE389, #6DC4FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    
    &:nth-child(odd)
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #6DC4FF, #3CE389, #FFE81D, #F20303);
      
  .logo-wrap
    margin: 0 auto;
    height: 165px;
    max-width: 100%;
    text-align: center;
    
    img
      position: relative;
      top: 40%;
      max-width: 60%;
      
  .work-info
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #F20303, #FFE81D, #3CE389, #6DC4FF);
    padding: 30px;
    
    &.even
      border-image-source: linear-gradient(to left, #6DC4FF, #3CE389, #FFE81D, #F20303);
      
    p.small
      font-size: 12px;
      padding-bottom: 5px;
      margin-bottom: 0;
        
    .button-wrap
      margin: 20px 10px 0 0;
      
    button
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      font-size: 14px;
      font-weight: $semibold;
      padding: .5rem .85rem;
      border: 2px solid $blue;
      margin-right: 10px;
      background-color: transparent;
      border-radius: 1rem;
      
      &:hover
        opacity: .8;
      
      a
        color: $blue;
  
  .work-grid
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
      
    @media only screen and (max-width: 800px)
      display: block;
      justify-content: none;
    
    .work-col
      width: 32%;
      border-radius: 1rem;
      
      @media only screen and (max-width: 800px)
        width: 100%;
        margin-bottom: 40px;
      
      a
        display: inline-block;
        &:hover
          opacity: .8

      img
        width: 200px;
        border-radius: .8rem .8rem 0 0;

    .work-logo-col
      width: 32%;
      text-align: center;
      padding: 20px;

      a
        background: none;
      
      img
        width: 65%;
        &:hover
            opacity: .8;
      
      @media only screen and (max-width: 800px)
        width: 100%;

        img
          width: 60%;
          
  .case-studies
    .work-col
      border: 3px solid $blue;
      
      .logo-wrap
        height: auto;
        
        @media only screen and (max-width: 800px)
          height: auto;
          min-height: 100px;
              
        img
          width: auto;
          max-width: 100%
          display: block;

          
      .work-info
        border-top: 3px solid $blue;
        border-image-source: none;
        text-align: left;

        button
          border: 2px solid $blue
          border-radius: 1rem
          
          a
            color: $blue
    
        
/*--------------------------------------------------------------------
* $CASE STUDIES
--------------------------------------------------------------------*/

.case-study


  .full
    width: 100%;
  
  .content
    max-width: 1100px;
    
  .logo
    max-width: 600px;
    
  .rainbow
    margin: 10px 0;
    
  blockquote
    margin-bottom: 70px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 50px;
    border-left: 10px solid $blue;
    
    @media only screen and (max-width: 600px) {
      margin-left: 20px;
      padding-left: 20px;
      padding-right: 0;
    }
    
    cite
      display: block;
      text-align: right;
      font-size: 20px;
  
  img {
    border-radius: 1rem;
  }

  .btn-left {
    float: left;
    
    @media only screen and (max-width: 600px) {
      float: none;
      text-align: center;
      margin-top: 40px;
    }

  }
  
  .btn-right {
    float: right;
    
    @media only screen and (max-width: 600px) {
      float: none;
      text-align: center;
    }
  }
    
  #intro
    img
      margin-bottom: 40px;
          
    h1
      text-align: center;
      font-size: 32px;
      
  #main
    max-width: 1000px;
    margin: 0 auto;
    
    p
      margin: 60px 0;
      line-height: 1.75em;
      
      &:last-of-type
        margin: 40px 0;

      
  .cs-grid
    display: flex;
    
  .cs-col
    flex: 1;
    
  .cs-grid-2
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    
    @media only screen and (max-width: 600px) {
      display: block;
      margin: 0 auto;
    }
    
  .cs-grid-3
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    
    @media only screen and (max-width: 600px) {
      display: block;
    }
    
  .cs-col-2
    width: 48%;
    
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-bottom: 20px;
    }
    
  .cs-col-3
    width: 32%;
    
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-bottom: 20px;
    }